<!Doctype html>
<html ng-app="AppName">
    <head>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="js/angularapp.js"></script>
    </head>
    <body>
        <div ng-controller="Controller1">
            {{simpleVar}}
        </div>
        <hr>
        <div ng-controller="TwoWayBinding">
            Two way binding example:
            <input type="text" ng-model="someVar">
            <p>Content of someVar: {{someVar}}</p>
        </div>
        <hr>
        <div ng-controller="CategoryFilter">
            <input type="text" ng-model="filter" ng-change="setFilter()">
            <button ng-click="unsetFilter()">All</button>
            <p ng-if="filter != ''">Current category {{filter}}</p>
            <ul>
                <li ng-repeat="u in someData | filter:{category:filter} ">
                    id: {{u.id}}, name: {{u.name | uppercase}}, category: {{u.category}}
                </li>
            </ul>
        </div>
        <hr>
        <div ng-controller="useFactory">
            <input type="text" ng-change="setName()" ng-model="name">
            Data: {{name}}
        </div>
        <div ng-controller="useFactory2">
            Data: {{name}} <button ng-click="getName()">get name from factory</button>
        </div>
        <hr>
        <div ng-controller="promises">
            Countries:  <select>
                            <option ng-repeat="c in countries">{{c.name}}</option>
                        </select>
        </div>
        <hr>
        </div>Vistas:
            <a ui-sref="home">Home</a> |
            <a ui-sref="other">otra</a> |
            <a ui-sref="other2({id: 123})">otra con parametros</a>
        </div>
        <div ui-view>Una vista para utilizar ng-route</div>
    </body>
</html>